{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto"
}
